{% extends "base.html" %}
{% block content %}
        <!-- <div class="toggle"><a href="#"><i class="bx bx-moon toggle-icon"></i></a> </li>
        </div> -->
        <div class="menu-Icon">
            <i class='bx bx-menu-alt-right' id="menu-Icon"></i>
        </div>
    </header>
    <section   class="about-head" >
        <div>
            <h1>#knowUs</h1>
            <p>Konw all about our products!</p>
        </div>
    </section>
    <section class="about-main">
        <div class="about-us">
            <div class="about-img">
                <img src="../static/images/png/a6.jpg" alt="">
            </div>
            <div class="about-text">
                <h1>Who We Are?</h1>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum itaque sunt animi minus recusandae minima mollitia ex iste repellendus amet officia incidunt, obcaecati ratione eaque sint explicabo enim voluptate. Fuga? Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis at porro officiis in doloribus eveniet unde. Sunt, eveniet, sint at, sit assumenda corrupti veniam quisquam nesciunt omnis possimus voluptates. Odit.</h4>
            </div>
        </div>
        <div class="app">
            <h1> Download Our App </h1>
            <video src="../static/app/1 (2).mp4" controls></video>
        </div>
        <section class="features">
            <div class="f1" id="feat">
                <img src="../static/images/features/f1.png" alt="">
                <h4>Free Shipping</h4>
            </div >
            <div class="f2" id="feat">
                <img src="../static/images/features/f2.png" alt="">
                <h4>Online Order</h4>
            </div>
            <div class="f3" id="feat">
                <img src="../static/images/features/f3.png" alt="">
                <h4>Save Money</h4>
            </div>
            <div class="f4" id="feat">
                <img src="../static/images/features/f4.png" alt="">
                <h4>Promotions</h4>
            </div>
            <div class="f5" id="feat">
                <img src="../static/images/features/f5.png" alt="">
                <h4>Happy Sell</h4>
            </div>
            <div class="f6" id="feat">
                <img src="../static/images/features/f6.png" alt="">
                <h4>F24/7 Support</h4>
            </div>
        </section>
        <section class="signup" id="contactpage">
            
            <div class="sign">
                <h2>Sign Up For Newsletters</h2>
                <h5>Get E-mail updates about our latest shop and <span>special offers.</span></h5>
            </div>
            <div class="box">
                <input type="text" placeholder="Your email address">
                <button type="submit">Sign Up</button>
            </div>
        </section>
    </section>
{% endblock %}