{% extends "base.html" %}
{% block content %}
        <!-- <div class="toggle"><a href="#"><i class="bx bx-moon toggle-icon"></i></a> </li>
        </div> -->
        <div class="menu-Icon">
            <i class='bx bx-menu-alt-right' id="menu-Icon"></i>
        </div>
    </header>
    <section   class="blog-head" >
        <div>
            <h1>#readmore</h1>
            <h4>Read all case studies about our products!</h4>
        </div>
    </section>
    <section class="flex-boo" >
        <div class="flex1">
            <div class="blog-img1" id="bblog">
                <img src="../static/images/blog/b1 (1).jpg" alt="">
            </div>
            <div class="blog-note1">
                <h1>The Cotton-Jersey Zip-Up Hoodie </h1>
                <p>Kickstarter man braid godard coloring book. Roclette <br> waistcoat selfies yr woll chartreuse hexagon irony.<br>godard</p>
                <div class="cont">
                    <h4>CONTINUE READING</h4>
                    <hr>
                </div>
            </div>
        </div>
        <div class="flex2">
            <div class="blog-img2" id="bblog">
                <img src="../static/images/blog/b2.jpg" alt="">
            </div>
            <div class="blog-note2">
                <h1>How to Style a Quiff</h1>
                <p>Kickstarter man braid godard coloring book. Roclette <br> waistcoat selfies yr woll chartreuse hexagon irony.<br>godard</p>
                <div class="cont">
                    <h4>CONTINUE READING</h4>
                    <hr>
                </div>
            </div>
        </div>
        <div class="flex3">
            <div class="blog-img3" id="bblog">
                <img src="../static/images/blog/b3.jpg" alt="">
            </div>
            <div class="blog-note3">
                <h1>Must-Have Skater Girl Items</h1>
                <p>Kickstarter man braid godard coloring book. Roclette <br> waistcoat selfies yr woll chartreuse hexagon irony. <br>godard </p>
                <div class="cont">
                    <h4>CONTINUE READING</h4>
                    <hr>
                </div>
            </div>
        </div>
        <div class="flex4">
            <div class="blog-img4" id="bblog">
                <img src="../static/images/blog/b4.jpg" alt="">
            </div>
            <div class="blog-note4">
                <h1>Runaway-Inspired Trends</h1>
                <p>Kickstarter man braid godard coloring book. Roclette <br> waistcoat selfies yr woll chartreuse hexagon irony.<br>godard</p>
                <div class="cont">
                    <h4>CONTINUE READING</h4>
                    <hr>
                </div>
            </div>
        </div>
        <div class="flex5">
            <div class="blog-img5" id="bblog">
                <img src="../static/images/blog/b6.jpg" alt="">
            </div>
            <div class="blog-note5">
                <h1>AW20 Menswear Trends</h1>
                <p>Kickstarter man braid godard coloring book. Roclette <br> waistcoat selfies yr woll chartreuse hexagon irony.<br>godard</p>
                <div class="cont">
                    <h4>CONTINUE READING</h4>
                    <hr>
                </div>
            </div>
        </div>
    </section>
    <section class="signup">
        <div class="sign">
            <h2>Sign Up For Newsletters</h2>
            <h5>Get E-mail updates about our latest shop and <span>special offers.</span></h5>
        </div>
        <div class="box">
            <input type="text" placeholder="Your email address">
            <button type="submit">Sign Up</button>
        </div>
    </section>
{% endblock %}