{% extends "base.html" %}
{% block content %}
        <!-- <div class="toggle"><a href="#"><i class="bx bx-moon toggle-icon"></i></a> </li>
        </div> -->
        <div class="menu-Icon">
            <i class='bx bx-menu-alt-right' id="menu-Icon"></i>
        </div>
    </header>
    <section   class="about-head" >
        <div>
            <h1>#let's_talk</h1>
            <h5>LEAVE A MESSAGE, We love to hear from you!</h5>
        </div>
    </section>
    <section class="getin">
        <div class="contact-info">
            <div>
                <h4>GET IN TOUCH</h4>
                <h1>Visit one of our agency locations <br> or contact us today</h1>
            </div>
            <h3>Head Office</h3>
            <ul>
                <li> <i class="fa-brands fa-font-awesome"></i> 56 Office Road UNN, Nigeria
                </li>
                <li><i class="fa-solid fa-address-card"></i> contact@example.com</li>
                <li> <i class="fa-solid fa-phone"></i> +234-818-898-8881
                </li>
                <li><i class="fa-regular fa-clock"></i> Monday to Saturday 9:00am to 4:00pm</li>
            
            </ul>
        </div>
        <div>
            <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.2001137323227!2d7.409337614226204!3d6.866607320985808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1044e7defeff9725%3A0xffb8a28c30660e7d!2sUniversity%20of%20Nigeria%2C%20UNN%20Nsukka!5e0!3m2!1sen!2sng!4v1679653697454!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
        </div>
    </section>
    <section class="form-details">
        <form action="" method="get">
            <h3>LEAVE A MESSAGE</h3>
            <h4>We love to hear from you</h4>
            <input type="text" placeholder="Your Name"> <br> <br>
            <input type="email" placeholder="E-mail"> <br> <br>
            <input type="text" placeholder="Subject"><br> <br>
            <textarea name="message" id="meas
            " cols="30" rows="10" placeholder="Your Message"></textarea>
            <button type="submit">Submit</button>
        </form>
        <div class="members">
            <div class="deo" id="mem">
                <div class="deo-img">
                    <img src="./png/1.png" alt="">
                </div>
                <div>
                    <h4>John Doe</h4>
                    <p>Senior Marketing Manager <br> Phone: +000 123 000 77 88 <br> Email: contact@example.com</p>
                </div>
            </div>
            <div class="smith" id="mem">
                <div class="smith-img">
                    <img src="./png/2.png" alt="">
                </div>
                <div>
                    <h4>William Smith</h4>
                    <p>Senior Software Engineer <br> Phone: +020 123 040 77 88 <br> Email: contact@example.com</p>
                </div>
            </div>
            <div class="stone" id="mem">
                <div class="stone-img">
                    <img src="./png/3.png" alt="">
                </div>
                <div>
                    <h4>Emma Stone</h4>
                    <p>Senior DIgital Manager <br> Phone: +030 123 004 77 88 <br> Email: contact@example.com</p>
                </div>
            </div>
        </div>
    </section>
    <section class="signup" id="contactpage">
            
        <div class="sign">
            <h2>Sign Up For Newsletters</h2>
            <h5>Get E-mail updates about our latest shop and <span>special offers.</span></h5>
        </div>
        <div class="box">
            <input type="text" placeholder="Your email address">
            <button type="submit">Sign Up</button>
        </div>
    </section>
{% endblock %}