{% extends "base.html" %}
{% block content %}
        <!-- <div class="toggle"><a href="#"><i class="bx bx-moon toggle-icon"></i></a> </li>
        </div> -->
        <div class="menu-Icon">
            <i class='bx bx-menu-alt-right' id="menu-Icon"></i>
        </div>
    </header>
    <main >
        <section class="cara">
            <div class="cara-info">
                <h4>Trade-in-offer</h4>
                <h1>Super value deals  <br><span>On all products</span></h1>
                <h6>Save more with coupons & up to 70% off!</h6>
                <div class="btn">
                    <button>Shop Now</button>
                    <img src="../static/images/png/button.png" alt="">
                </div>
               
            </div>
            <div class="cara-image">
                <img src="../static/images/png/hero4.png" alt="">
            </div>
            <div class="cara-image1">
                <img src="../static/images/png/heroo.jpg" alt="">
            </div>
        </section>
        <section class="features">
            <div class="f1" id="feat">
                <img src="../static/images/features/f1.png" alt="">
                <h4>Free Shipping</h4>
            </div >
            <div class="f2" id="feat">
                <img src="../static/images/features/f2.png" alt="">
                <h4>Online Order</h4>
            </div>
            <div class="f3" id="feat">
                <img src="../static/images/features/f3.png" alt="">
                <h4>Save Money</h4>
            </div>
            <div class="f4" id="feat">
                <img src="../static/images/features/f4.png" alt="">
                <h4>Promotions</h4>
            </div>
            <div class="f5" id="feat">
                <img src="../static/images/features/f5.png" alt="">
                <h4>Happy Sell</h4>
            </div>
            <div class="f6" id="feat">
                <img src="../static/images/features/f6.png" alt="">
                <h4>F24/7 Support</h4>
            </div>
        </section>
        <section class="summer">
            <div class="text-sum">
                <h1>
                 Featured Products
               </h1>
               <h4>
                 Summer Collection New Morden Design
               </h4>
          </div>
          <div class="products">
            <div class="cartoon" id="ducts">
                <img src="../static/images/product/f1.jpg" alt="">
                <h5>adidas</h5>
                <h3>Cartoon Astronuat T-Shirts</h3>
                <div class="star-rate">
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                </div>
                <div class="doll">
                    <h4>$78</h4>
                    <h4><i class="fa-solid fa-cart-plus fa-bounce" style="color: #2f9d31;"></i></h4>
                </div>
            </div>
            <div class="cartoon1" id="ducts">
                <img src="../static/images/product/f2.jpg" alt="">
                <h5>adidas</h5>
                <h3>Cartoon Astronuat T-Shirts</h3>
                <div class="star-rate">
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                </div>
                <div class="doll">
                    <h4>$78</h4>
                    <h4><i class="fa-solid fa-cart-plus fa-bounce" style="color: #2f9d31;"></i></h4>
                </div>
            </div>
            <div class="cartoon2" id="ducts">
                <img src="../static/images/product/f3.jpg" alt="">
                <h5>adidas</h5>
                <h3>Cartoon Astronuat T-Shirts</h3>
                <div class="star-rate">
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                </div>
                <div class="doll">
                    <h4>$78</h4>
                    <h4><i class="fa-solid fa-cart-plus fa-bounce" style="color: #2f9d31;"></i></h4>
                </div>
            </div>
            <div class="cartoon3" id="ducts">
                <img src="../static/images/product/f4.jpg" alt="">
                <h5>adidas</h5>
                <h3>Cartoon Astronuat T-Shirts</h3>
                <div class="star-rate">
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                </div>
                <div class="doll">
                    <h4>$78</h4>
                    <h4><i class="fa-solid fa-cart-plus fa-bounce" style="color: #2f9d31;"></i></h4>
                </div>
            </div>
          
            <div class="cartoon4" id="ducts">
                <img src="../static/images/product/f5.jpg" alt="">
                <h5>adidas</h5>
                <h3>Cartoon Astronuat T-Shirts</h3>
                <div class="star-rate">
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                </div>
                <div class="doll">
                    <h4>$78</h4>
                    <h4><i class="fa-solid fa-cart-plus fa-bounce" style="color: #2f9d31;"></i></h4>
                </div>
            </div>
            <div class="cartoon5" id="ducts">
                <img src="../static/images/product/f6.jpg" alt="">
                <h5>adidas</h5>
                <h3>Cartoon Astronuat T-Shirts</h3>
                <div class="star-rate">
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                </div>
                <div class="doll">
                    <h4>$78</h4>
                    <h4><i class="fa-solid fa-cart-plus fa-bounce" style="color: #2f9d31;"></i></h4>
                </div>
            </div>
            <div class="cartoon6" id="ducts">
                <img src="../static/images/product/f7.jpg" alt="">
                <h5>adidas</h5>
                <h3>Cartoon Astronuat T-Shirts</h3>
                <div class="star-rate">
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                </div>
                <div class="doll">
                    <h4>$78</h4>
                    <h4><i class="fa-solid fa-cart-plus fa-bounce" style="color: #2f9d31;"></i></h4>
                </div>
            </div>
            <div class="cartoon7" id="ducts">
                <img src="../static/images/product/f8.jpg" alt="">
                <h5>adidas</h5>
                <h3>Cartoon Astronuat T-Shirts</h3>
                <div class="star-rate">
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                </div>
                <div class="doll">
                    <h4>$78</h4>
                    <h4><i class="fa-solid fa-cart-plus fa-bounce" style="color: #2f9d31;"></i></h4>
                </div>
            </div>
          </div>
           
        </section>
        <section>
            <div class="repair">
               
                <h4>Repair Services</h4>
                <h1>Up to <span>70% Off</span> - All t-Shirts & Accessories</h1>
                <button type="submit">Explore More</button>
            </div>
           
        </section>
        <section class="arrivals">
            <div class="arrive-text">
                <h1>
                    New Arrivals
                </h1>
                <h4>Summer Collection New Modern Design</h4>
            </div>
            <div class="products">
                <div class="cartoon" id="ducts">
                    <img src="../static/images/product/n8.jpg" alt="" >
                    <h5>adidas</h5>
                    <h3>Cartoon Astronuat T-Shirts</h3>
                    <div class="star-rate">
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    </div>
                    <div class="doll">
                        <h4>$78</h4>
                        <h4><i class="fa-solid fa-cart-plus fa-bounce" style="color: #2f9d31;"></i></h4>
                    </div>
                </div>
                <div class="cartoon1" id="ducts">
                    <img src="../static/images/product/n2.jpg" alt="">
                    <h5>adidas</h5>
                    <h3>Cartoon Astronuat T-Shirts</h3>
                    <div class="star-rate">
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    </div>
                    <div class="doll">
                        <h4>$78</h4>
                        <h4><i class="fa-solid fa-cart-plus fa-bounce" style="color: #2f9d31;"></i></h4>
                    </div>
                </div>
                <div class="cartoon2" id="ducts">
                    <img src="../static/images/product/n3.jpg" alt="">
                    <h5>adidas</h5>
                    <h3>Cartoon Astronuat T-Shirts</h3>
                    <div class="star-rate">
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    </div>
                    <div class="doll">
                        <h4>$78</h4>
                        <h4><i class="fa-solid fa-cart-plus fa-bounce" style="color: #2f9d31;"></i></h4>
                    </div>
                </div>
                <div class="cartoon3" id="ducts">
                    <img src="../static/images/product/n4.jpg" alt="">
                    <h5>adidas</h5>
                    <h3>Cartoon Astronuat T-Shirts</h3>
                    <div class="star-rate">
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    </div>
                    <div class="doll">
                        <h4>$78</h4>
                        <h4><i class="fa-solid fa-cart-plus fa-bounce" style="color: #2f9d31;"></i></h4>
                    </div>
                </div>
              
                <div class="cartoon4" id="ducts">
                    <img src="../static/images/product/n5.jpg" alt="">
                    <h5>adidas</h5>
                    <h3>Cartoon Astronuat T-Shirts</h3>
                    <div class="star-rate">
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    </div>
                    <div class="doll">
                        <h4>$78</h4>
                        <h4><i class="fa-solid fa-cart-plus fa-bounce" style="color: #2f9d31;"></i></h4>
                    </div>
                </div>
                <div class="cartoon5" id="ducts">
                    <img src="../static/images/product/n6.jpg" alt="">
                    <h5>adidas</h5>
                    <h3>Cartoon Astronuat T-Shirts</h3>
                    <div class="star-rate">
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    </div>
                    <div class="doll">
                        <h4>$78</h4>
                        <h4><i class="fa-solid fa-cart-plus fa-bounce" style="color: #2f9d31;"></i></h4>
                
                    </div>
                </div>
                <div class="cartoon6" id="ducts">
                    <img src="../static/images/product/n7.jpg" alt="">
                    <h5>adidas</h5>
                    <h3>Cartoon Astronuat T-Shirts</h3>
                    <div class="star-rate">
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    </div>
                    <div class="doll">
                        <h4>$78</h4>
                        <h4><i class="fa-solid fa-cart-plus fa-bounce" style="color: #2f9d31;"></i></h4>
                    </div>
                </div>
                <div class="cartoon7" id="ducts">
                    <img src="../static/images/product/n8.jpg" alt="">
                    <h5>adidas</h5>
                    <h3>Cartoon Astronuat T-Shirts</h3>
                    <div class="star-rate">
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                        <i class="fa-sharp fa-solid fa-star" style="color: #ffc72e;"></i>
                    </div>
                    <div class="doll">
                        <h4>$78</h4>
                        <h4><i class="fa-solid fa-cart-plus fa-bounce" style="color: #2f9d31;"></i></h4>
                    </div>
                </div>
              </div>
        </section>
        <section class="images">
            <div class="image-1">
                <div class="b17">
                    <div class="img-text">
                        <h3>crazy deals</h3>
                        <h1>buy 1 get 1 free</h1>
                        <h5>The best classic dress is on sale at cara</h5>
                        <button type="submit">Learn More</button>
                    </div>
                    <img src="../static/images/banner/b17.jpg" alt="">
                </div>
                <div class="b10">
                    <div class="img-text-2">
                        <h3>spring/summer</h3>
                        <h1>upcoming season</h1>
                        <h5>The best classic dress is on sale at cara</h5>
                        <button type="submit">Collection</button>
                    </div>
                    <img src="../static/images/banner/b10.jpg" alt="" width="80%">
                </div>
            </div>
            <div class="image-2">
                <div class="b7">
                    <div class="img-text-3">
                        <h1>SEASONAL SALE</h1>
                        <h5>
                            Winter Collection -50% off
                        </h5>
                    </div>
                    <img src="../static/images/banner/b7.jpg" alt="" width="50%">
                </div>
                <div class="b4">
                    <div class="img-text-4">
                        <h1>NEW FOOTWEAR COLLECTION</h1>
                        <h5>
                            Spring/ Summer 2022
                        </h5>
                    </div>
                    <img src="../static/images/banner/b4.jpg" alt="">
                </div>
               <div class="b18">
                <div class="img-text-5">
                    <h1>T-SHIRTS</h1>
                    <h5>
                        New Trendy Prints
                    </h5>
                </div>
                <img src="../static/images/banner/b18.jpg" alt="">
               </div>
            </div>
           
        </section>
        <section class="signup" id="contactpage">
            
            <div class="sign">
                <h2>Sign Up For Newsletters</h2>
                <h5>Get E-mail updates about our latest shop and <span>special offers.</span></h5>
            </div>
            <div class="box">
                <input type="text" placeholder="Your email address">
                <button type="submit">Sign Up</button>
            </div>
        </section>
    </main>
{% endblock %}  